* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
}

/* .background{
        background-color: #333333;
        color: #333333;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
    } */
.background-header {
    background: url("https://ac-landing-pages-user-uploads-production.s3.amazonaws.com/0000056772/099d39e6-222d-4c39-9a04-127ba9aebb1e.jpg");
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 50px 100px 100px 100px;
    opacity: 1;
    text-align: center;
}

.logo {
    width: 151px;
    margin-bottom: 30px;
}

.header-content {
    max-width: 700px;
    margin: 0 auto;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: bold;

}

.container-1 {
    padding: 30px;
    color: black;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.container-1 .title-first h2 {
    color: rgb(33, 33, 165);
    font-weight: bold;
    font-size: 32px;
}

.container-1 .title-first h3 {
    color: rgb(90, 155, 200);
    font-weight: bold;
}

.countdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    justify-content: center;
    width: 100%
}

.box {
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 12px;
}

.box-time {
    border: 1px solid rgb(38, 99, 38);
    width: 80px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(38, 99, 38);
    color: white;
    padding: 8px;
    margin: 5px auto;
}

.box-time span {
    font-size: 20px;
    font-weight: bold;

}

.order-now {
    display: block;
    border: 1px solid #448dc0;
    background-color: #448dc0;
    width: 260px;
    height: 50px;
    margin: 20px auto;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    padding: 12px;

}

.order-now:hover {
    opacity: 0.8;
}

.title-video {
    margin-top: 36px;
}

.title-video h3 {
    color: #013c6f;
    font-weight: bold;
    font-size: 24px;
}

.video-content {
    text-align: center;
}

.video-content video {
    text-align: right;
    padding: 30px 0px 10px 0px;
    width: 100%;
}

.video-content-title {
    padding-left: 20px;
    padding-top: 8px;
}

.video-content-title p {
    margin-bottom: 5px;
    font-size: 16px;
}

.video-content-title p b {
    margin-bottom: 5px;
    font-size: 20px;
}

.video-content-title p span {
    margin-bottom: 30px;
}

.content-video p {
    text-align: center;
    margin: 1px auto;
    font-size: 14px;
    font-style: italic;
    margin-top: 30px;
}

.title-end {
    background-color: #013c6f;
}

.title-end h3 {
    text-align: center;

}

.content-end {
    max-width: 700px;
    color: white;
    margin: 0 auto;
}

.content-end h3 {
    color: white;
    font-weight: bold;
    font-size: 36px;
    font-style: inherit;
    padding-top: 30px;
}



.content-box {
    margin-top: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.content-box img {
    width: 450px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

.content-box p {
    padding: 24px 50px;
    text-align: center;
    font-style: inherit;
}

.content-box a {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #448dc0;
    background-color: #448dc0;
    padding: 8px 80px;
}

.additional {
    text-align: center;
    margin-top: 12px;
    padding-bottom: 42px;
    color: #ffffff;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.additional img {
    width: 340px;
    margin-top: 24px;

}

.additional p {
    padding: 20px 50px 0px 50px;
    margin-bottom: 32px;
}

.additional a {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #448dc0;
    background-color: #448dc0;
    padding: 8px 80px;

}

footer {
    background-color: #448dc0;
    color: #ffffff;
}

.footer-end {
    max-width: 700px;
    margin: 0 auto;
    padding: 24px;
    font-style: inherit;
    text-align: center;
}

.contact-1 h3 {
    font-weight: bold;
    font-size: 36px;
}

.contact-1 p a {
    text-decoration: none;
    color: #ffffff;
}

.contact-1 p {
    margin: 0px;
}

.contact-text {
    margin: 18px 0px;
}

.contact-2 p {
    margin: 0px;
}

.contact-2 p a {
    color: #ffffff;
}

.contact-icon {
    font-size: 18px;
}

.contact-icon i {
    border: 1px solid #ffffff;
    width: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 18px;
    background-color: #ffffff;
    color: black;
    margin-top: 36px;
    margin-right: 5px;
}

@media only screen and (min-width: 1025px) {
    header {
        margin: 0 auto;
    }

    /* .background{
    background-color: #333333;
    color: #333333;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
} */
    .background-header {
        background: url("https://ac-landing-pages-user-uploads-production.s3.amazonaws.com/0000056772/099d39e6-222d-4c39-9a04-127ba9aebb1e.jpg");
        background-position-x: center;
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        padding: 50px 100px 100px 100px;
        opacity: 1;
    }

    .logo {
        width: 220px;
    }

    .header-content {
        max-width: 1100px;
        margin: 0 auto;
    }

    .content {
        color: white;
        display: flex;
        flex-direction: column;
        font-weight: bold;

    }

    .container-1 {
        padding: 30px;
        color: black;
        text-align: center;
        max-width: 1100px;
        margin: 0 auto;
    }

    .container-1 .title-first h2 {
        color: rgb(33, 33, 165);
        font-weight: bold;
        font-size: 32px;
    }

    .container-1 .title-first h3 {
        color: rgb(90, 155, 200);
        font-weight: bold;
    }

    .countdown {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 20px;
        justify-content: center;

    }

    .box {
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 12px;
    }

    .box-time {
        border: 1px solid rgb(38, 99, 38);
        width: 240px;
        height: 60px;
        border-radius: 5px;
        background-color: rgb(38, 99, 38);
        color: white;
        padding: 14px;
        margin: 5px auto;
    }

    .box-time span {
        font-size: 20px;
        font-weight: bold;

    }

    .order-now {
        display: block;
        border: 1px solid #448dc0;
        background-color: #448dc0;
        width: 260px;
        height: 50px;
        margin: 20px auto;
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-weight: bold;
        padding: 12px;

    }

    .order-now:hover {
        opacity: 0.8;
    }

    .title-video {
        margin-top: 36px;
    }

    .title-video h3 {
        color: #013c6f;
        font-weight: bold;
        font-size: 36px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    .video-content video {
        text-align: right;
        padding: 30px 0px 30px 50px;
        width: 100%;
    }

    .video-content-title {
        padding-left: 50px;
        padding-top: 30px;
    }

    .video-content-title p {
        margin-bottom: 8px;
    }

    .content-video p {
        text-align: center;
        margin: 1px auto;
        font-size: 14px;
        font-style: italic;
    }

    .title-end {
        background-color: #013c6f;
    }

    .title-end h3 {
        text-align: center;

    }

    .content-end {
        max-width: 1100px;
        color: white;
        margin: 0 auto;
    }

    .content-end h3 {
        color: white;
        font-weight: bold;
        font-size: 36px;
        font-style: inherit;
        padding-top: 30px;
    }


    .content-service {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .content-box {
        margin-top: 24px;
        text-align: center;
        margin-bottom: 30px;
    }

    .content-box img {
        width: 450px;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-box p {
        padding: 24px 50px;
        text-align: left;
        font-style: inherit;
    }

    .content-box a {
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #448dc0;
        background-color: #448dc0;
        padding: 8px 36px;
    }

    .additional {
        text-align: center;
        margin-top: 12px;
        padding-bottom: 42px;
        color: #ffffff;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .additional img {
        width: 680px;
        margin-top: 24px;

    }

    .additional p {
        padding: 20px 50px 0px 50px;
        margin-bottom: 32px;
    }

    .additional a {
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #448dc0;
        background-color: #448dc0;
        padding: 8px 36px;

    }

    footer {
        background-color: #448dc0;
        color: #ffffff;
    }

    .footer-end {
        max-width: 1100px;
        margin: 0 auto;
        padding: 24px;
        font-style: inherit;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-1 h3 {
        font-weight: bold;
        font-size: 36px;
    }

    .contact-1 p a {
        text-decoration: none;
        color: #ffffff;
    }

    .contact-1 p {
        margin: 0px;
    }

    .contact-text {
        margin: 18px 0px;
    }

    .contact-2 {
        text-align: right;
    }

    .contact-2 p {
        margin: 0px;
    }

    .contact-2 p a {
        color: #ffffff;
    }

    .contact-icon {
        font-size: 18px;
    }

    .contact-icon i {
        border: 1px solid #ffffff;
        width: 30px;
        text-align: center;
        padding: 5px;
        border-radius: 18px;
        background-color: #ffffff;
        color: black;
        margin-top: 36px;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
    header {
        margin: 0 auto;
    }

    /* .background{
        background-color: #333333;
        color: #333333;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
    } */
    .background-header {
        background: url("https://ac-landing-pages-user-uploads-production.s3.amazonaws.com/0000056772/099d39e6-222d-4c39-9a04-127ba9aebb1e.jpg");
        background-position-x: center;
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        padding: 50px 100px 100px 100px;
        opacity: 1;
        text-align: center;
    }

    .logo {
        width: 151px;
        margin-bottom: 30px;
    }

    .header-content {
        max-width: 700px;
        margin: 0 auto;
    }

    .content {
        color: white;
        display: flex;
        flex-direction: column;
        font-weight: bold;

    }

    .container-1 {
        padding: 30px;
        color: black;
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
    }

    .container-1 .title-first h2 {
        color: rgb(33, 33, 165);
        font-weight: bold;
        font-size: 32px;
    }

    .container-1 .title-first h3 {
        color: rgb(90, 155, 200);
        font-weight: bold;
    }

    .countdown {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 20px;
        justify-content: center;
        width: 100%
    }

    .box {
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 12px;
    }

    .box-time {
        border: 1px solid rgb(38, 99, 38);
        width: 165px;
        height: 50px;
        border-radius: 5px;
        background-color: rgb(38, 99, 38);
        color: white;
        padding: 8px;
        margin: 5px auto;
    }

    .box-time span {
        font-size: 20px;
        font-weight: bold;

    }

    .order-now {
        display: block;
        border: 1px solid #448dc0;
        background-color: #448dc0;
        width: 260px;
        height: 50px;
        margin: 20px auto;
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-weight: bold;
        padding: 12px;

    }

    .order-now:hover {
        opacity: 0.8;
    }

    .title-video {
        margin-top: 36px;
    }

    .title-video h3 {
        color: #013c6f;
        font-weight: bold;
        font-size: 24px;
    }

    .video-content {
        text-align: center;
    }

    .video-content video {
        text-align: right;
        padding: 30px 0px 10px 0px;
        width: 100%;
    }

    .video-content-title {
        padding-left: 20px;
        padding-top: 8px;
    }

    .video-content-title p {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .video-content-title p b {
        margin-bottom: 5px;
        font-size: 20px;
    }

    .video-content-title p span {
        margin-bottom: 30px;
    }

    .content-video p {
        text-align: center;
        margin: 1px auto;
        font-size: 14px;
        font-style: italic;
        margin-top: 30px;
    }

    .title-end {
        background-color: #013c6f;
    }

    .title-end h3 {
        text-align: center;

    }

    .content-end {
        max-width: 700px;
        color: white;
        margin: 0 auto;
    }

    .content-end h3 {
        color: white;
        font-weight: bold;
        font-size: 36px;
        font-style: inherit;
        padding-top: 30px;
    }



    .content-box {
        margin-top: 24px;
        text-align: center;
        margin-bottom: 30px;
    }

    .content-box img {
        width: 450px;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-box p {
        padding: 24px 50px;
        text-align: center;
        font-style: inherit;
    }

    .content-box a {
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #448dc0;
        background-color: #448dc0;
        padding: 8px 80px;
    }

    .additional {
        text-align: center;
        margin-top: 12px;
        padding-bottom: 42px;
        color: #ffffff;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .additional img {
        width: 612px;
        margin-top: 24px;

    }

    .additional p {
        padding: 20px 50px 0px 50px;
        margin-bottom: 32px;
    }

    .additional a {
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #448dc0;
        background-color: #448dc0;
        padding: 8px 80px;

    }

    footer {
        background-color: #448dc0;
        color: #ffffff;
    }

    .footer-end {
        max-width: 700px;
        margin: 0 auto;
        padding: 24px;
        font-style: inherit;
        text-align: center;
    }

    .contact-1 h3 {
        font-weight: bold;
        font-size: 36px;
    }

    .contact-1 p a {
        text-decoration: none;
        color: #ffffff;
    }

    .contact-1 p {
        margin: 0px;
    }

    .contact-text {
        margin: 18px 0px;
    }

    .contact-2 {}

    .contact-2 p {
        margin: 0px;
    }

    .contact-2 p a {
        color: #ffffff;
    }

    .contact-icon {
        font-size: 18px;
    }

    .contact-icon i {
        border: 1px solid #ffffff;
        width: 30px;
        text-align: center;
        padding: 5px;
        border-radius: 18px;
        background-color: #ffffff;
        color: black;
        margin-top: 36px;
        margin-right: 5px;
    }
}